#actions-list-container {
    width: 36rem;
    height: 5.8rem;
    background-color: var(--terciary-color);
    color: var(--secondary-color);
    font-size: 1.2rem;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    position: absolute;
}

#actions-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 20px;
}

#clientes:active, #relatorios:active, #menu:active {
    color: var(--address-container-btn);
    font-weight: bold;
}

#consultas {
    color: var(--address-container-btn);
    font-weight: bold;
}

.actions-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 4.2rem;
    gap: 8px;
    cursor: pointer;
}

.action-img {
    width: 2rem;
    height: 2.2rem;
    object-fit: contain;
}

@media screen and (min-width: 768px) {
    #actions-list-container {
        width: 76.8rem;
        height: 5.8rem;
        font-size: 1.8rem;
    }

    #actions-btn-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 76.8rem;
        gap: 36px;
    }
}

@media screen and (min-width: 1440px) {
    #actions-list-container {
        position: fixed;
        left: 0;
        top: 0;
        width: 20rem;
        height: 100%;
    }

    #actions-btn-container {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        padding: 12px 0px 0px 12px;
        width: 100%;
    }

    .actions-btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        width: 100%;
    }

    .action-img {
        width: 3rem;
        height: 3rem;
    }
}