.modal-container {
    width: 36rem;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

.open-modal {
    visibility: visible;
    z-index: 10;
}

.modal-actions {
    visibility: hidden;
    position: absolute;
    bottom: 80px;
}

.show-modal-actions {
    visibility: visible;
    z-index: 20;
}

.modal-actions-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 20px;
    width: 36rem;
    height: 7rem;
}

.modal-span-text {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--secondary-color);
    background-color: var(--terciary-color);
    border-radius: 20px;
    padding: 10px;
}

.modal-btn-container {
    width: 5.6rem;
    height: 5.6rem;
    background-color: var(--address-container-btn);
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.226);
    border: none;
    border-radius: 50%;
    margin-right: 16px;
}

@media screen and (min-width: 768px) {
    .modal-container {
        width: 76.8rem;
        height: 100%;
        
    }

    .modal-actions-container {
        position: relative;
        left: 100%;
        margin-left: 2px;
    }
}