@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* COLORS */
    --primary-color: #F8F4FF;
    --secondary-color: #464646;
    --terciary-color: #FFFFFF;
    --span-subtext: #A3A3A3;
    --icon-chat-btn: #f6f6f6;
    --chat-icon-container-color: #A3A3A3;
    --audio-container-btn: #A3A3A3;
    --video-container-btn: #FFB050;
    --address-container-btn: #4894FF;

    /* FONTS */
    --fonte: Montserrat, "sans-serif";
}

html {
    font-size: 62.5%;
}

body {
    min-width: 36rem;
    max-width: 144rem;
}

#container {
    font-family: var(--fonte);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 36rem;
    height: 100%;
}

@media screen and (min-width: 768px) {
    #container {
        width: 76.8rem;
        height: 100%;
    }
}

@media screen and (min-width: 1440px) {
    #container {
        width: 144rem;
        height: 100%;
        margin-left: 30rem;
    }
}