.side-btn-container {
    position: relative;   
}

.side-btn {
    width: 5.6rem;
    height: 5.6rem;
    margin-bottom: 20px;

    background-color: var(--address-container-btn);
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.226);

    border: none;
    border-radius: 50%;

    position: absolute;
    left: 80%;
    bottom: 100%;
    z-index: 99;
    
    cursor: pointer;
}

.plus-img {
    width: 16px;
    height: 16px;
}

@media screen and (min-width: 768px) {
    .side-btn {
        position: absolute;
        left: 85%;
        bottom: 100%;
        z-index: 99;
    }
    
}

@media screen and (min-width: 1440px) {
    .side-btn-container {
        display: none;
    }
    
}